.cartBox{
  margin-top: 8%;
  margin-bottom: 5%;
}


  
  .titleAccent{
    color: var(--orange-clr);
  }
  
  .emptyCartBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em 8em;
  }

  .cartTextEmpty{
    margin: 2em;
    font-size: 1.5em;
    color: var(--black-clr);
  }

  .cartFormFlex{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items:flex-start;
  }

