.cartProductsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartProducts{
    margin-bottom: 3em;
  }

  .cartProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
  }

  .cartImg{
    width: 130px;
    height: 170px;
    border-radius: 5px;
  }

  .cartText{
    text-align: center;
    color: var(--black-clr);
    font-size: 1em;
    max-width: 150px;
  }

  .titleAccent{
    color: var(--orange-clr);
  }

  .cartDeleteBtn{
    font-size: 2em;
    color: red;
    cursor: pointer;
  }
  
  .cartDeleteBtn:hover{
    transform: scale(1.1);
  }
  
  .backBtn{
    color: var(--black-clr);
  }
