.spinner-box{
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-text{
    color: var(--black-clr);
    font-size: 1.3em;
    margin-bottom: 1em;
}

.spinner-img{
    width: 80px;
    height: 80px;
}