.itemDetailBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8em 5% 3em;
}

.itemDetailImg{
    height: 450px;
    width: 350px; 
    border-radius: 5px;
    margin-right: 3em;
}

.itemDetailImg-mobile{
  display: none;
}

.ItemDetailTextBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
    gap: .5em;
}

.itemDetailTitle{
    font-size: 1.1rem;
    color: var(--black-clr);
}

.itemDetailPrice{
    color: var(--orange-clr);
    font-size: 1.2em;
}

.itemTitleDescription{
  color: var(--black-clr);
  font-size: 1.1em;
}

.ietmDetailDescription{
    font-size: .9rem;
    color: var( --light-clr);
    max-width: 25em;
    text-align: justify;
} 

.conter-price-box{
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  /* margin-bottom: 1em; */
}
  
  .itemCounter{
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  .btn-counter{
    background-color: var(--orange-clr);
    width: 1.8em;
    height: 1.8em;
    border-radius: 5px;
    color: var(--white-clr);
    border: none;
    font-size: .8em;
    font-weight: bold;
    box-shadow: var(--boxShadow);
  }

  .quantity{
    text-align: center;
    width: 1.5em;
  }

  .itemDetailBtns{
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .bckBtn{
    margin-top: .5em;
  }


  @media( width <= 820px){
    .itemDetailImg{
      height: 400px;
      width: 300px; 
      margin-right: 1em;
    }

  .ItemDetailTextBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

}

@media(width <= 720px){
  .itemDetailImg{
   display: none;
  }

  .itemDetailImg-mobile{
    display: block;
    height: 300px;
    width: 250px; 
    border-radius: 5px;
    margin-top: 2em;
  }

  .ItemDetailTextBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
}
  

