.products-container{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-selector-box{
    margin-top: 1em;
}

.btn-mrg{
    margin-left: 1em;
    margin-right: 1em;
}
  