.about-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 2em;
}

.about-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2em;
}

.info-section{
    color: var(--light-clr);
    padding-bottom: 1em;
    width: 450px;
}

.about-img-mobile{
    display: block;
    width: 400px;
    display: none;
}

@media(width <= 1160px){
    .about-img{
        width: 500px;
    }

    .info-section{
        color: var(--light-clr);
        padding-bottom: 1em;
        width: fit-content;
    }

    .section-title{
        font-size: 1.6em;
        color: var(--black-clr);
        padding-bottom: 1.5em;
      }
}

@media(width <= 990px){
    .about-img{
        width: 400px;
    }
}

@media(width <= 790px){
    .about-box{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 3em 2em;
    }

    .about-img-mobile{
        display: block;
        width: 400px;
        margin: 1em 0em;
    }

    .about-img{
        display: none;
    }

    .about-info-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0em;
    }
    
    .info-section{
        color: var(--light-clr);
        padding-bottom: 1em;
        text-align: center;
        margin: 0 10%;
    }
}
