.checkOutInput{
    width: 25em;
    border: none;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    font-size: .8em;
    text-transform: none;
    color: #130f40;
    padding: 1.2rem 0;
    margin: .5rem 0;
    outline: none;
}

.contactInput{
    width: 30em;
    border: none;
    border-bottom: 0.1rem solid #130f40;
    font-size: 1rem;
    text-transform: none;
    color: #130f40;
    padding: 1.5rem 0;
    margin: 1rem 0;
    outline: none;
    resize: none;
}

.error-message{
    font-size: .8rem;
    color: red;
    padding: 3px;
    display: block;
    width: 300px;
    display: none;
}

input:invalid[focused="true"] ~ .error-message{
    display: block;
}

input:invalid[focused="true"]{
    border-bottom: 0.1rem solid red;
}
