.input-box{
    position: relative;
    margin: 1em 0em;
}

.contactInput{
    padding: 1.5rem 0;
    width: 30em;
    border: 2px solid var(--light-bck);
    border-radius: 5px;
    font-size: 1rem;
    text-transform: none;
    color: var(--black-clr);
    padding:  1em 1.20rem;
    outline: none;
}

.contactInput:focus{
    border: 2px solid var(--orange-clr);
}

.contactInput:focus ~ .label,
.contactInput:not(:placeholder-shown).contactInput:not(:focus) ~ .label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.9rem;
  background-color: var(--white-clr);
}

.checkOutInput{
    width: 20em;
    border: 2px solid var(--light-bck);
    border-radius: 5px;
    font-size: .8em;
    text-transform: none;
    color: var(--black-clr);
    padding:  1em 1.20rem;
    /* margin: 1rem 0em; */
    outline: none;
}

.checkOutInput:focus{
  border: 2px solid var(--orange-clr);
}


.label{
    font-size: .9em;
    color: var(--light-clr);
    position: absolute;
    left: .8rem;
    top: .7rem;
    padding: 0 .3rem;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.checkOutInput:focus ~ .label,
.checkOutInput:not(:placeholder-shown).checkOutInput:not(:focus) ~ .label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.9rem;
  background-color: var(--white-clr);
}

.error-message{
    font-size: .8rem;
    color: red;
    margin-bottom: 1em;
    width: 300px;
    display: none;
}

input:invalid[focused="true"] ~ .error-message{
    display: block;
}

input:invalid[focused="true"]{
    border: 2px solid red;
}
