.contactBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.contactImg{
    width: 700px;
    height: 600px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput{
    width: 30em;
    border: none;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    color: #130f40;
    padding: 1.5em 0;
    outline: none;
    resize: none;
}

.msg-input{
    width: 30em;
    border: none;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    color: #130f40;
    padding: 1.5em 0;
    outline: none;
    resize: none;
    margin-bottom: 1em;
}

.contactFormBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5em;
}

.titleSectionAbout{
    font-size: 2em;
    color: var(--black-clr);
    padding-bottom: .2em;
  }
  
  .titleAccent{
    color: var(--orange-clr);
  }

  