.contactBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.contactImg{
    width: 700px;
    height: 600px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-box{
    position: relative;
    margin-bottom: 1em;
}

.msg-input{
    padding: 1.5rem 0;
    width: 30em;
    border: 2px solid var(--light-bck);
    border-radius: 5px;
    font-size: 1rem;
    text-transform: none;
    color: var(--black-clr);
    padding:  1em 1.20rem;
    outline: none;
    resize: none;
}

.msg-label{
    font-size: .9em;
    color: var(--light-clr);
    position: absolute;
    left: .8rem;
    top: .7rem;
    padding: 0 .3rem;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    
}

.msg-input:focus{
    border: 2px solid var(--orange-clr);
}

.msg-input:focus ~ .msg-label,
.msg-input:not(:placeholder-shown).msg-input:not(:focus) ~ .msg-label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.9rem;
  background-color: var(--white-clr);
}

.contactFormBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5em;
}

.titleSectionAbout{
    font-size: 2em;
    color: var(--black-clr);
    padding-bottom: .2em;
  }
  
  .titleAccent{
    color: var(--orange-clr);
  }

  