.footerBox{
    background-color: var(--black-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.header-brand-name-white{
    font-weight: 600;
    color: var(--white-clr);
    cursor: pointer;
  }

.menu-item-white{
    color: var(--white-clr);
    cursor: pointer;
    font-weight: 500;
}

.menu-item-white:hover{
    color: var(--orange-clr);
}

.socialBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;
}

.socialItem{
    padding: .6rem 2rem;
    border-radius: 5rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
    background:none;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: fit-content;
    border: var(--border-white);
    color: var(--white-clr);

    background: linear-gradient(to right, var(--white-clr) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 90%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.socialItem:hover{
    background-color: var(--white-clr);
    color: var(--black-bck);
    background-position: left bottom;
}

.custom-shape-divider-bottom-1662601485 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1662601485 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 104px;
}

.custom-shape-divider-bottom-1662601485 .shape-fill {
    fill: #130F40;
}


.brandFooter{
    margin-right: .5em;
    font-size: 1.3em;
}

.socialItem:hover .brandFooter{
    color: var(--black-clr);
}

.disclaimer{
    color: var(--white-clr);
    margin: 0em 1em;
    margin-bottom: 2em;
    text-align: center;
}

.disclaimer a{
    color: var(--orange-clr);
}

.menu-item-list-footer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0em 1em;
  }
 