/* CHECK OUT SECTION */

.checkOutBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.titleSection{
  font-size: 1.5em;
  color: var(--black-clr);
  margin-left: 7%;
}

.checkOutForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

/* SHIPPING SECTION */

.shipping-section{
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  padding: 1.5em;
  height: fit-content;
  border: solid 2px var(--light-bck);
  width: 80%;
 /*  margin: auto; */
}

.radio-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0em;
}

.radio-input-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}


.radio-input{
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}


.input-icon-box{
  border-radius: 10px;
  border: 2px solid var(--light-bck);
  height: 45px;
  width: 50px;
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-icon-box::after {
  content: "";
  border-radius: 10px;
  height: 45px;
  width: 50px;
  border: 2px solid var(--black-clr);
  display: block;
  transition: .2s linear;
  transform: scale(0);
}



.input-icon{
  position: absolute;
  font-size: 1.5em;
  color: var(--black-clr);
}

.radio-input:checked + .input-icon-box::after{
  transform: scale(1);
}


.payment-section{
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  padding: 1.5em;
  height: fit-content;
  border: solid 2px var(--light-bck);
  width: 80%;
  /* margin: auto; */
}


.checkOutTittle{
    font-size: 1.1rem;
    margin-bottom: .5em;
    color: var(--black-clr);
}

.checkOutTittleAccent{
    color: var(--orange-clr);
}


.form-flex{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.buy-btn{
  width: 100%;
}

.backBtn{
  color: var(--black-clr);
  width: fit-content;
  margin-left: 7.5%;
}

