.button{
  margin-top: 1rem;
  padding: .6rem 2rem;
  border-radius: 5rem;
  border-top-left-radius: 0rem;
  cursor: pointer;
  position: relative;
  background: none;
  overflow: hidden;
  width: fit-content;
  border: var(--border);
  color: var(--black-clr);

  background: linear-gradient(to right, var(--black-clr) 50%, rgba(255,0,0,0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  }
  
  .button:hover{
    color: var(--light-bck);
    background-position: left bottom;
  }