.button{
    margin-top: 1rem;
    padding: .6rem 2rem;
    border-radius: 5rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
    background:none;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: fit-content;
    border: var(--border);
    color: var(--black-clr);
  }
  
  .button:hover{
    background-color: var(--black-clr);
    color: var(--light-bck);

  }